<launch>

    <!-- send the Botmovil and AISoy1 robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find botmovil_description)/urdf/botmovil_aisoy1.urdf.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot" pkg="gazebo" type="spawn_model"
          args="-param robot_description
                -urdf
                -z 0.01
                -model Botmovil_AISoy1"
          respawn="false" output="screen" />

    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

</launch>
